.Switch {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 60px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 100px;
  border: 2px solid #546E7A;
  background-color: #263238;
  transition: all 500ms;
}

.Switch:active {
  background-color: #333;
  outline: none;
}

.Switch:focus {
  outline: none;
  box-shadow: 0 0 10px 5px cornflowerblue;
}

.Switch:hover:not(.toggle--moving)::after,
.Switch:focus:not(.toggle--moving)::after {
  background-color: #455A64;
}

.Switch::after {
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc(50% - 4px);
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: #37474F;
  border: 2px solid;
  transition: all 500ms;
}

.on::after {
  content: 'On';
  border-radius: 50px 5px 5px 50px;
  color: #66BB6A;
}

.off::after {
  content: 'Off';
  border-radius: 5px 50px 50px 5px;
  transform: translate(100%, 0);
  color: #f44336;
}

.toggle--moving {
  background-color: #333;
}

.toggle--moving::after {
  color: transparent;
  border-color: #666;
  background-color: #6d6d6d;
  transition: color 0s,
    transform 500ms,
    border-radius 500ms,
    background-color 500ms;
}
